{% macro marquee(items) %}
  <section class="marquee" aria-label="Selected institutions and venues">
    <div class="marquee__track">
      <ul class="marquee__list">
        {% for item in items %}
          <li class="marquee__item{% if item.logo %} marquee__item--logo{% endif %}{% if item.id %} marquee__item--{{ item.id }}{% endif %}">
            {% if item.logo %}
              <span class="marquee__logo" style="--marquee-logo-image: url('{{ item.logo }}')" role="img" aria-label="{{ item.name }}"></span>
            {% else %}
              <span translate="no">{{ item }}</span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
      <ul class="marquee__list" aria-hidden="true">
        {% for item in items %}
          <li class="marquee__item{% if item.logo %} marquee__item--logo{% endif %}{% if item.id %} marquee__item--{{ item.id }}{% endif %}">
            {% if item.logo %}
              <span class="marquee__logo" style="--marquee-logo-image: url('{{ item.logo }}')"></span>
            {% else %}
              <span translate="no">{{ item }}</span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endmacro %}
